*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

// reset

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.button_green{
    padding: 20px;
    background-color: #20AD96;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 30px 0;
}

//utility

.flex{
    display: flex;
}

.none{
    display: none;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-7{
    width: calc((100% / 12) * 7);
}


//header

header{

    box-shadow: 4px 4px 4px #00000034;

    .logo{
        padding: 10px 150px 10px 0px ;
        width: 400px;
    }
    .nav-bar{

        justify-content: space-between;
        align-items: center;

        .nav-bar__item{
            padding: 20px;
            color: #646464;
            font-weight: 700;
        }

        .icon_chevron{
            font-size: 10px;
            padding-left: 5px;
        }
        
        .icon_search{
            color: #20AD96;
        }

        .search{
            height: 40px;
            background-color: #F5F5F5;
            border: none;
            outline: none;
            padding: 0 10px;
            border-radius: 7px;
        }
    }
    
}

// MAIN

main{

    .section-1{

        .row{
            padding-top: 60px ;
        }

        img{
            width: 670px;
            border-radius: 50%;
            object-fit: 1;
        }

        .col-5{
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;

            h2{
                font-size: 50px;
                color: #3F3A64;
            }

            p{
                padding: 15px 0 ;
                font-size: 22px;
                color: #696969;
            }

            .icon_download{
                font-size: 20px;
                padding: 0 20px;
            }

            .link_sample{
                color: #20AD96;
                font-weight: 700;
            }

        }

        .col-7{
            display: flex;
            justify-content: end;
        }
    }
}