*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

// reset

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
}


//utility

.show-menu{
    margin-top: 23px;
    position: absolute;
    background-color: rgb(243, 243, 243);
    color:#696969;
    width: 170px;
    z-index: 10;
    border-bottom:4px solid #20AD96 ;

}
.drop-item{
    padding : 10px 10px;
    font-weight: 300;
}

.hover-green:hover{
    color: #20AD96 !important;
}

.flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.none{
    display: none;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}
.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}
.col-4{
    width: calc((100% / 12) * 4);
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-6{
    width: calc((100% / 12) * 6);
}

.col-12{
    width: 100%;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.b-0{
    bottom: 0px;
}

.r-100{
    right: 100px;
}

.l-0{
    left: 40px;
}

.z-1{
    z-index: 1;
}

.z-2{
    z-index: 2;
}

.c_green{
    color: #20AD96;
}

.f-w_light{
    font-weight: 300;
}

.button_green{
    padding: 20px 50px;
    background-color: #20AD96;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin: 30px 0;
}

.button_green:hover{
    background-color: #3F3A64;
}



// TEXT FONT

.small_text{
    padding: 15px 0 ;
    font-size: 15px;
    color: #8c89a2;
}

.mid_text{
    padding: 15px 0 ;
    font-size: 20px;
    color: #8c89a2;
}

//header

header{

    box-shadow: 4px 4px 4px #00000034;

    .logo{
        padding: 10px 150px 10px 0px ;
        width: 400px;
    }

    
    .nav-bar{

        justify-content: space-between;
        align-items: center;

        .nav-bar__item{
            padding: 20px;
            color: #646464;
            font-weight: 700;
        }

        .nav-bar__item:hover{
            color: #20AD96;
        }
    
        .icon_chevron{
            font-size: 10px;
            padding-left: 5px;
        }
        
        .icon_search{
            color: #20AD96;
        }

        .search{
            height: 40px;
            background-color: #F5F5F5;
            border: none;
            outline: none;
            padding: 0 10px;
            border-radius: 7px;
        }
    }
    
}

// MAIN

main{


// SECTION 1


    .section-1{

        .list-logs{
            justify-content: space-around;
            align-items: center;
            padding: 50px 0;
        }

        .row{
            padding-top: 60px ;
        }
        .col-5{
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;

            h2{
                font-size: 50px;
                color: #3F3A64;
            }

            .icon_download{
                font-size: 20px;
                padding: 0 20px;
            }

            .link_sample{
                color: #20AD96;
                font-weight: 700;
            }

        }

        .col-7{
            display: flex;
            justify-content: end;

            img:first-child{
                width: 670px;
                border-radius: 50%;
                object-fit: 1;
            }

            .img_relative-top{
                left: 70px;
                top: 150px;
                height: 160px;
            }

            .img_relative-bot{
                left: 70px;
                top: 340px;
                height: 160px;
            }

            .img_relative-right{
                top: 170px;
                right: -120px;
            }
        }
    }


// SECTION 2


    .section-2{

        background-color: #f5f7fa;

        .col-12{
            padding: 100px 0;
            display: flex;
            flex-direction: column;            
            justify-content: center;
            align-items: center;

            h2{
                font-size: 35px;
                color: #3F3A64;
            }
        }

        .col-6{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 60px;
            padding: 20px;
        }

        .card{

            .card_img{
                max-width: 150px;
                object-fit: cover;
                aspect-ratio: 1;
                border-radius: 50%;
            }

            .card_info{
                gap: 15px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;

                h3{
                    font-size: 25px;
                    color: #3F3A64;
                }

                .price{
                    font-size: 24px;
                    font-weight: 700;
                    color:#20AD96;
                }

                p{
                    padding-right:10px ;
                    color: #646464;     
                }
            }
        }
    }


// SECTION 3


    .section-3{

        .col-12{
            text-align: center;
            padding: 100px;

            h2{
                color:#3F3A64;
                font-weight: 300;
                font-size: 45px;
            }

            a{
                color:#20AD96;
            }
        }
        .col-4{
            padding: 50px;

            h3{
                color: #3F3A64;
                font-size: 30px;
                padding: 30px 0;
            }

            p{
                color: #696969;
                font-size: 15px;
                line-height: 1.5;
                padding-bottom: 30px;
            }
            
            a{
                font-weight: 700;
                font-size: 17px;
            }
        }
        

        .col-7{

            margin-top: 100px;

            .img_background{
                width: 100%;
                left: 0;
                top: 0;
                position:sticky;
                border-radius: 10px;
                z-index: 3;
            }

            .logo_youtube{
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                z-index: 3;
            }

            .img_right{
                bottom: -80px;
                right: -20px;
                z-index: 1;
            }

            .img_left{
                top:65px;
                left: -100px;
                z-index: 2;
            }

            .img_cloud{
                top:-120px;
                left: -80px;
                z-index: 1;
                filter: invert(100%) sepia(27%) saturate(3718%) hue-rotate(313deg) brightness(96%) contrast(86%);
            }
        }

        .col-5{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: start;
            padding:100px ;

            h3{
                font-size: 60px;
                color: #3F3A64;
                a{
                    font-weight: 300;
                    color: #20AD96;
                }
            }

            .small_text{
                font-weight: 700;
                a{
                    color: #3F3A64;
                }
            }

            .text-main{
                padding: 30px 0; 
                font-size: 18px;
                line-height: 1.5;
                color: #696969;
            }

            a{
                color: #20AD96;
                font-weight: 700;
            }
        }
    }


// SECTION 4


    .section-4{

        background-color: #f8f8f8;
        margin-top: 100px;
        padding-bottom: 100px;
        display: flex;

        .active{
            background-color: white;
            border-radius: 10px;
            opacity: 0.5;
        }

        .container-fluid{
            max-width: 2000px;
            margin: 0 auto;
        }

        h4{
            color:#3F3A64;
            font-size: 25px;
            line-height: 1.5;
        }


        .col-12{
            padding-top: 100px ;
                text-align: center;

            h3{
                color: #3F3A64;
                font-size: 40px;
                padding-bottom: 50px;
            }

            a{
                color: #20AD96;
            }
        }
        
        .col-4{
            background-color: white;
            padding: 40px;
            margin: 40px;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;

            

            p{
                color: #696969;
                line-height: 1.5;
                font-size: 17px;
                padding: 10px 0;
            }

            .card{
                padding: 20px 0px;
                display: flex;

                img{
                    width: 80px;
                    aspect-ratio: 1;
                    border-radius: 50%
                }

                h5{
                    font-size: 18px;
                    color: #3F3A64;
                    padding-left: 20px;
                }
                p{
                    padding-left: 20px;
                }
            }
            
        }

        .col-3{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .point{
                width: 8px;
                height: 8px;
                background-color: #3F3A64;
                border-radius: 50%;
                margin: 10px;
                opacity: 0.5;
            }
    
            .point-active{
                opacity: 1;
                width: 12px;
                height: 12px;
            }
        }

        .img_left{
            top: 50%;
            left: 330px;
        }

        .img_right{
            top: 50%;
            right: 330px;
        }

        
    }

    .section-5{

        .col-3{
            height: 400px;
            border-left: 1px solid rgba(211, 211, 211, 0.4);
            border-right: 1px solid rgba(211, 211, 211, 0.4);
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .text-number{
                color: #20AD96;
                font-size: 60px;
                font-weight: 900;
                
            }

            h3{
                color:#3F3A64;
                font-size: 25px;
                line-height: 1.5;
            }
        }
    }

    .section-6{
        background-color:   #f5f1ed;
        padding-top: 150px;
        padding-bottom: 100px;

        .col-4{
            display: flex;
            flex-direction: column;

            h4{
                color: #3F3A64;
                font-size: 30px;
                padding-bottom: 30px;
            }

            .list_item{
                color: #3F3A64;
                font-size: 18px;
                padding-bottom: 20px;
                font-weight: 700;
            }

            .arrow-right{
                padding-right: 20px;
            }

            .card{
                padding: 20px;
                
                .card-body{
                    background-color: white;
                    border-radius: 10px;
                }

                img{
                    width: 100%;
                    border-radius: 10px;
                }

                .card-footer{
                    padding: 30px;

                    h3{
                        color: #3F3A64;
                        font-size: 25px;
                        padding-bottom: 20px;
                    }

                    li{
                        color: #696969;
                        padding-right: 15px;
                    }
                }
            }
        }
    }

    .section-7{
            
        text-align: center;
        padding-bottom: 100px;

        .col-12{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                color: #3F3A64;
                font-size: 35px;
                padding: 70px 0 30px 0;
            }

            p{
                line-height: 1.5;
                color: #696969;
                font-size: 17px;
            }

            .input-email{
                border: none;
                outline: none;
                height: 65px;
                width: 500px;
                background-color:#f5f1ed;
                border-radius: 10px;
                padding: 20px;
            }

            .img_right{
                right: 0px;
                top: 200px;
            }

            .img_top{
                right: 20px;
                rotate: 30deg;
            }
        }
    }
    

}


//  FOOTER


footer{
    padding: 100px;
    background-color: #f8f8f8;

    .row{
        display: flex;
    }

    li{
        padding: 10px 0;
        color: #696969;
        font-weight: 700;
        
    }
    .title-list{
        color: black;
        font-size: 20px;
        font-weight: 700;
    }

    .li-brand{
        padding-right: 40px;
        font-size: 30px;
        color: rgb(197, 197, 197);
    }
}  

